.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: relative;
  top: 12px;
  margin: 0 auto;
  width: 40%;
  line-height: 0px;
  border-radius: 15px 15px 0 0;
  // background-color: #7c3c74;
  background-color: pink;
}