.list, .chat {
  height: calc(100%);
  min-width: 80%;
  max-width: 640px;
  border-radius: 10px;
  background: rgba(160, 90, 90, .32);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 10px 40px;
}

.list {
    flex-direction: column;
    // background: -webkit-linear-gradient(10deg,#7c3c74,#3ea389,#cadeca);
    // background: linear-gradient(10deg,#7c3c74,#3ea389,#cadeca);
    // background: linear-gradient(10deg, #7c3c74,#fff);
    justify-content: flex-end;
    border-radius: 10px;
    justify-content: flex-end;
    border-radius: 10px;
    overflow-y: auto;


  li {
    max-width: 100%;
    text-align: start;
    white-space: pre-line;
    word-break: break-all;
  }
}

.chat {
  display: flex;
  flex-direction: column-reverse;
}

.list::-webkit-scrollbar, .chat::-webkit-scrollbar {
  width: 3px;
}

.list::-webkit-scrollbar-track, .chat::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb, .chat::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 10px;
}

.ul {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.p {
  display: inline-block;
  border-radius: 10px;
  padding: 0 10px;
  margin: 2px;
  word-break: break-word;
  background: rgba(160, 90, 90, .32);
  // white-space: pre-line;
  // white-space: pre-wrap;
  white-space: break-spaces;
}

.li {
  list-style-type: none;
}

.form {
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 2fr 96px; // верт гориз
  margin-top: 10px;
  width: 80%;
  gap: 10px;
}

.form__label {
  grid-column: 1;
  grid-row: 1;
  margin-right: auto;
}
.form__select {
  grid-column: 1;
  grid-row: 2;
  outline: none;
  border-radius: 10px;
}
.form__text {
  grid-area: 1 / 2 / 4 / 3;
  font-family: inherit;
  resize: none;
  outline: none;
  border-radius: 10px;
}
.form__submit {
  grid-column: 3;
  grid-row: 3;
}
.form__status {
  grid-column: 3;
  grid-row: 1;
  width: fit-content;
  margin: 0;
}
.form__clear {
  grid-column: 1;
  grid-row: 3;
}