.list, .chat {
  height: calc(100vh - 400px);
  min-width: 80%;
  max-width: 640px;
  border-radius: 10px;
  background: rgba(160, 90, 90, .32);
  position: relative;
    overflow-y: auto;
    margin: 0;
    padding: 10px 40px;
}

.list {
    flex-direction: column;
    // background: -webkit-linear-gradient(10deg,#7c3c74,#3ea389,#cadeca);
    // background: linear-gradient(10deg,#7c3c74,#3ea389,#cadeca);
    // background: linear-gradient(10deg, #7c3c74,#fff);
    justify-content: flex-end;
    border-radius: 10px;

    justify-content: flex-end;
    border-radius: 10px;
    overflow-y: auto;


  li {
    max-width: 100%;
    text-align: start;
    white-space: pre-line;
    word-break: break-all;
  }
}

.chat {
  display: flex;
  flex-direction: column-reverse;
}

.list::-webkit-scrollbar, .chat::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-track, .chat::-webkit-scrollbar-track {
  background: linear-gradient(10deg, transparent, #ed5777,#fff);;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb, .chat::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.ul {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.p {
  display: inline-block;
  border-radius: 10px;
  padding: 0 10px;
  margin: 2px;
  background: rgba(160, 90, 90, .32);
  word-break: break-word;
}

.li {
  list-style-type: none;
  margin-left: 15px;
}

.form {
  position: absolute;
  left: 0; right: 0;
  top: calc(100vh - 200px + 20px);
}
